<h1>Editing reported bike</h1>

<%= render "form", reported_bike: @reported_bike %>

<br>

<div>
  <%= link_to "Show this reported bike", @reported_bike %> |
  <%= link_to "Back to reported bikes", reported_bikes_path %>
</div>
