<h1>Editing blu iterator</h1>

<%= render "form", blu_iterator: @blu_iterator %>

<br>

<div>
  <%= link_to "Show this blu iterator", @blu_iterator %> |
  <%= link_to "Back to blu iterators", blu_iterators_path %>
</div>
