<!DOCTYPE html>
<html>
  <head>
    <title>Chicago Bike Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{Rails.application.credentials.google_maps_key}" %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
